#img-bg
{
    background-image: url("https://i.imgur.com/Gmy5ruY.jpg");
    background-repeat: no-repeat;
    background-size: cover !important;
    background-attachment: fixed;
    background-position: center;
}