<div class="jumbotron jumbotron-fluid jumboCor mb-0">
  <div class="container">
    <h1 class="display-4 d-flex justify-content-center">Todos os produtos</h1>
  </div>
</div>
<div class="container mt-5 mb-5">

  <div class="row mt-5">
    <div *ngFor='let item of listaProdutos' class="col-md-3 ">
      <div class="card-deck ">
        <div class="card p-3 text-center cardBorderCorners" id="cardBack">
          <img class="card-img-top image-fluid" src="{{item.imagem}}" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">{{item.nome}}</h5>
            <p class="card-text">R{{item.preco | currency}}</p>
            <div class="row justify-content-center">
              <button (click)='carrinho()' class="mr-2 btn">Carrinho</button>
              <button [routerLink]="['/page-produto', item.id]" class="btn">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>