.jumboCor{
    background: linear-gradient(324deg, rgb(199, 76, 4) 0%, rgb(248, 130, 64) 45%, rgb(199, 76, 4) 100%);
    color: white;
    padding-top: 60px;
    padding-bottom: 5px;
}

button{
    background-color: #53744E;
    color: white;
    width: 100px;
    height: 35px;
}

button:focus, 
button:hover {
    color: #F88240;
    font-weight: bold;
    }

.wrapper {
    text-align: center;
}

.proPic {
  height: 100px;
  width: 100px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.proLight {
  border: 1px solid black;
}

.cardBorderCorners {
  border-radius: 50px 25px;
  width: 18rem;
}


.lightCard {
  background-color: #ffffff;
}


.lightTitle {
  margin-top: 10px;
  color: #2c2c2c;
  text-align: center;
}


.lightSubTitle {
  color: #37355b;
  text-align: center;
}


.lightDesc {
  margin-top: 20px;
  color: #333333;
  text-align: center;
}


.lightMail {
  margin-top: 20px;
  color: #c2c2e0;
  text-align: center;
}


.lightMailText {
  padding: 5px;
  background-color: #f88240;
}

.social {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.attributeText {
  margin-top: 20px;
  text-align: center;
  color: #25235c;
}

.corIcone
{
  color: #f88240;
}