<div class="jumbotron jumbotron-fluid jumboCor mb-0">
  <div class="container">
    <h1 class="display-4 d-flex justify-content-center">Armazém Natural: Quem Somos?</h1>
    <h5 class="d-flex justify-content-center">Acreditamos em um mundo melhor. E queremos contribuir com ele!</h5>
    <div class="row">
      <div class="col-md-6">
        <p class="lead p-4">Só no Brasil, é desperdiçada uma média de 20 toneladas de
          comida por ano. A falta de logística na distribuição de alimentos provoca prejuízos econômicos e sociais
          para todos. A cada dia a sociedade vem cobrando por melhores soluções para essas questões e preferindo
          os produtos e serviços que se comprometem com essas iniciativas. Assim, decidimos facilitar o acesso de
          você, consumidor, à produção de vocês, pequenos e médios produtores, que assim como nós estão
          preocupados com o consumo e a produção responsáveis. Gostou? Então venha fazer parte dessa rede que só cresce!
        </p>
        <div class="wrapper" routerLink="/cadastrar">
          <button>Cadastrar</button>
        </div>
      </div>
      <div class="col-md-6">
        <img class="card-img-top" src="../../assets/img/ih.png" alt="Imagem de capa do card">
      </div>
    </div>
  </div>
</div>
<div class="container ">
  <div>
    <h1 class="text-center mt-4">Nossa Equipe</h1>
  </div>
  <div class="row d-flex justify-content-center mt-5">
    <div class="card-group">
      <div class="card cardBorderCorners lightCard">
        <div class="card-body">
          <img class="proPic proLight card-img rounded-circle"
            src="https://avatars.githubusercontent.com/u/61669045?v=4" alt="Profile Pic">
          <h5 class="lightTitle card-title">Eduardo Pires Martins</h5>
          <h6 class="lightSubTitle card-subtitle">Full-Stack Developer</h6>
        </div>
        <div class="social">
          <div class="row corIcone justify-content-center">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a class="corIcone" href="https://github.com/eduardopiresmartins" target="_blank"><i class="fab fa-github fa-3x mr-3"></i></a>
              <a class="corIcone" href="https://www.linkedin.com/in/eduardopiresmartins/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="card cardBorderCorners lightCard">
        <div class="card-body">
          <img class="proPic proLight card-img rounded-circle"
            src="https://i.imgur.com/pwqTt4h.png" alt="Profile Pic">
          <h5 class="lightTitle card-title">Felipe Januario Gomes</h5>
          <h6 class="lightSubTitle card-subtitle">Full-Stack Developer</h6>
        </div>
        <div class="social">
          <div class="row corIcone justify-content-center">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a class="corIcone" href="https://github.com/Felipej-Gomes" target="_blank"><i class="fab fa-github fa-3x mr-3"></i></a>
              <a class="corIcone" href="https://www.linkedin.com/in/felipe-gomes-483b19208/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="card cardBorderCorners lightCard">
        <div class="card-body">
          <img class="proPic proLight card-img rounded-circle"
            src="https://i.imgur.com/8MKjyoE.jpg" alt="Profile Pic">
          <h5 class="lightTitle card-title">José Victor Paranan Barbosa Roman</h5>
          <h6 class="lightSubTitle card-subtitle">Full-Stack Developer</h6>
        </div>
        <div class="social">
          <div class="row corIcone justify-content-center">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a class="corIcone" href="https://github.com/jvpbr" target="_blank"><i class="fab fa-github fa-3x mr-3"></i></a>
              <a class="corIcone" href="https://www.linkedin.com/in/jvpbr/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center mt-3 mb-5">
    <div class="card-group">
      <div class="card cardBorderCorners lightCard">
        <div class="card-body">
          <img class="proPic proLight card-img rounded-circle"
            src="https://i.imgur.com/HI248qT.png" alt="Profile Pic">
          <h5 class="lightTitle card-title">Luana Suelen Savian</h5>
          <h6 class="lightSubTitle card-subtitle">Full-Stack Developer</h6>
        </div>
        <div class="social">
          <div class="row corIcone justify-content-center">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a class="corIcone" href="https://github.com/TolearSav" target="_blank"><i class="fab fa-github fa-3x mr-3"></i></a>
              <a class="corIcone" href="https://www.linkedin.com/in/luana-suelen-savian/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="card cardBorderCorners lightCard">
        <div class="card-body">
          <img class="proPic proLight card-img rounded-circle"
            src="https://avatars.githubusercontent.com/u/73804490?v=4" alt="Profile Pic">
          <h5 class="lightTitle card-title">Miria Andressa Silva Santos</h5>
          <h6 class="lightSubTitle card-subtitle">Full-Stack Developer</h6>
        </div>
        <div class="social">
          <div class="row corIcone justify-content-center">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a class="corIcone" href="https://github.com/MiiSantos" target="_blank"><i class="fab fa-github fa-3x mr-3"></i></a>
              <a class="corIcone" href="https://www.linkedin.com/in/miria-santos/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="card cardBorderCorners lightCard">
        <div class="card-body">
          <img class="proPic proLight card-img rounded-circle"
            src="https://avatars.githubusercontent.com/u/78761580?v=4" alt="Profile Pic">
          <h5 class="lightTitle card-title">Vitor Hugo Rodrigues da Silva</h5>
          <h6 class="lightSubTitle card-subtitle">Full-Stack Developer</h6>
        </div>
        <div class="social">
          <div class="row corIcone justify-content-center">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a class="corIcone" href="https://github.com/vhrs123" target="_blank"><i class="fab fa-github fa-3x mr-3"></i></a>
              <a class="corIcone" href="https://www.linkedin.com/in/vitor-hugo-/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>