<div class="jumbotron jumbotron-fluid jumboCor mb-0">
  <div class="container">
      <h2 class="display-4 d-flex justify-content-center">Seja um Fornecedor!</h2>
  </div>
</div>
<div class="container p-2">
  <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
         <p>Tem uma pequena ou média empresa que se preocupa com a sustentabilidade? Quer fazer do nosso time de fornecedores e obter um alcance nacional dos seus produtos? Então preencha o formulário abaixo e mande sua mensagem que muito em breve entraremos em contato com você!
          </p>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
          <form>
              <div class="form-group">
                  <label for="nome">Nome:</label>
                  <input type="text" class="form-control" id="nome" placeholder="Insira seu nome">
              </div>
              <div class="form-group">
                  <label for="email">Endereço de e-mail:</label>
                  <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com">
              </div>
              <div class="form-group">
                  <label for="empresa">Nome da empresa:</label>
                  <input type="text" class="form-control" id="empresa" placeholder="Insira o nome da sua empresa">
              </div>
              <div class="form-group">
                  <label for="localizacao">Localização:</label>
                  <input type="text" class="form-control" id="localizacao" placeholder="Insira a cidade e o estado da sua empresa">
              </div>
              <div class="form-group">
                  <label for="mensagem">Mensagem:</label>
                  <textarea class="form-control" id="mensagem" rows="4"></textarea>
              </div>
              <div class="wrapper">
                  <button class="btn">Enviar</button>
              </div>
          </form>
      </div>