<div class="jumbotron jumbotron-fluid jumboCor mb-0">
  <div class="container" *ngFor='let cat of listaCategoria'>
    <h1 class="display-4 d-flex justify-content-center">{{cat.nome}}</h1>
  </div>
</div>
<div class="container mt-5 mb-5">


  <div *ngFor='let cat of listaCategoria' class="row mt-5">
    <div *ngFor='let prod of cat.produto' class="col-md-3 ">
      <div class="card-deck ">
        <div class="card p-3 text-center cardBorderCorners" id="cardBack">
          <img class="card-img-top image-fluid" src="{{prod.imagem}}" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">{{prod.nome}}</h5>
            <p class="card-text">R{{prod.preco | currency}}</p>
            <div class="row justify-content-center">
              <button (click)='carrinho()' class="mr-2 btn">Carrinho</button>
              <button (click)='comprar()' class="btn">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>